.vscode
.idea
*.js
*.js.map
*.log
*.tgz
!scripts/*.js
demo/app/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
*.d.ts
!index.d.ts
!references.d.ts
demo/lib
demo/platforms
demo/node_modules
node_modules
.history
