.message {
  color: #666;
  font-size: 16;
  padding: 20;
}

button {
  background-color: #6494AA;
  padding: 10;
  margin: 12 20;
  font-size: 16;
  border-radius: 6;
}

.button {
  color: #ffffff;
}

.button-a {
  margin-top: 22;
  background-color: #E0A458;
}

.button-b {
  background-color: #90A959;
}