.message {
  color: #666;
  font-size: 16;
  padding: 20;
}

button {
  color: #ffffff;
  background-color: #6494AA;
  padding: 6;
  margin: 6 24;
  font-size: 14;
  border-radius: 4;
}

.button-group-first {
  margin-top: 24;
}

.button-a {
  background-color: #E0A458;
}

.button-b {
  background-color: #90A959;
}